body {
	background: #8d1818;
	font-family: 'Crimson Text', serif;
	margin: 0px;
}

#header {
	text-align: center;
	background: #fff;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	box-shadow: 0px 3px 15px black;
	z-index: 999;
}

#header > h1 {
	color : #8d1818;
	font-size: 6em;
	line-height: 70px;
	font-weight: normal;
	margin: 0px
}

#footer {
	text-align: center;
	background: #fff;
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
	box-shadow: 0px -3px 15px black;
	z-index: 999;
}

#footer > img {
	height: 75px;
}

#container {
	margin: 100px 0px 75px;
}

.item {
	float: left;
	width: 10.286%;
	margin: 1%;
	padding: 1%;
	background: #d2c295;
	box-shadow: 0px 0px 25px black;
}

.item.medium {
	width: 38.857%;
}

.item.large {
	width: 67.429%;
}

.item > img {
	width: 100%;
	vertical-align: top;
	box-shadow: 0px 0px 6px black;
}

img.tag {
	width: 57.3%;
	float: left;
}

.avatar {
	float: left;
	width: 15%;
	padding: 5%;
}

.avatar > img {
	border-radius: 50%;
	box-shadow: 0px 0px 6px black;
	width: 100%;
}

.name {
	float: left;
}

.alias {
	float: left;
	width: 17%;
}

hr {
	width: 30%;
}

.comment {
	float: left;
	width: 40%;
	padding-left: 2%;
}

#modal {
	position: fixed;
	background: rgba(0,0,0,0.3);
	top: 100px;
	bottom: 80px;
	left: 0px;
	right: 0px;
}

#modal > .item.large {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	display: inline-table;
}
