<template name="currentTag">
	<div class="active item"><img src="{{Tag 0}}" alt=""></div>
	<div class="item"><img src="{{Tag 1}}" alt=""></div>
	<div class="item"><img src="{{Tag 2}}" alt=""></div>
	<div class="item"><img src="{{Tag 3}}" alt=""></div>
	<div class="item"><img src="{{Tag 4}}" alt=""></div>
	<div class="item"><img src="{{Tag 5}}" alt=""></div>
	<div class="item"><img src="{{Tag 6}}" alt=""></div>
	<div class="item"><img src="{{Tag 7}}" alt=""></div>
	<div class="item"><img src="{{Tag 8}}" alt=""></div>
	<div class="item"><img src="{{Tag 9}}" alt=""></div>
	<div class="item"><img src="{{Tag 10}}" alt=""></div>
	<div class="item"><img src="{{Tag 11}}" alt=""></div>
	<div class="item"><img src="{{Tag 12}}" alt=""></div>
	<div class="item"><img src="{{Tag 13}}" alt=""></div>
	<div class="item"><img src="{{Tag 14}}" alt=""></div>
	<div class="item"><img src="{{Tag 15}}" alt=""></div>
	<div class="item"><img src="{{Tag 16}}" alt=""></div>
	<div class="item"><img src="{{Tag 17}}" alt=""></div>
	<div class="item"><img src="{{Tag 18}}" alt=""></div>
	<div class="item"><img src="{{Tag 19}}" alt=""></div>
</template>