<template name="currentTag">
	{{#each Tag}}
		{{#if idx}}
			<div class="item large">
				<img class="tag" src="{{ images.standard_resolution.url }}">
				<div class="info">
					<div class="avatar">
						<img class="user" src="{{ user.profile_picture }}">
					</div>
					<div class="alias"><h3>{{ user.username }}</h3></div>
					<hr>
					<div class="comment"><p>{{ caption.text}}</p></div>
				</div>
			</div>
		{{else}}
			<div class="item">
				<img src="{{ images.standard_resolution.url }}">
			</div>
		{{/if}}
	{{/each}}

<!-- Code for Infinite Scroll -->
{{#if moreResults}}
		<div id="showMoreResults">
			<!-- Remove the word "Loadding..." when live -->
				<span class="loading">Loading...</span>
		</div>
{{/if}}


</template>
