<!-- <template name="currentTag">
	<div class="active item"><img src="{{Tag 0}}" alt=""></div>
	<div class="item"><img src="{{Tag 1}}" alt=""></div>
	<div class="item"><img src="{{Tag 2}}" alt=""></div>
	<div class="item"><img src="{{Tag 3}}" alt=""></div>
	<div class="item"><img src="{{Tag 4}}" alt=""></div>
	<div class="item"><img src="{{Tag 5}}" alt=""></div>
	<div class="item"><img src="{{Tag 6}}" alt=""></div>
	<div class="item"><img src="{{Tag 7}}" alt=""></div>
	<div class="item"><img src="{{Tag 8}}" alt=""></div>
	<div class="item"><img src="{{Tag 9}}" alt=""></div>
	<div class="item"><img src="{{Tag 10}}" alt=""></div>
	<div class="item"><img src="{{Tag 11}}" alt=""></div>
	<div class="item"><img src="{{Tag 12}}" alt=""></div>
	<div class="item"><img src="{{Tag 13}}" alt=""></div>
	<div class="item"><img src="{{Tag 14}}" alt=""></div>
	<div class="item"><img src="{{Tag 15}}" alt=""></div>
	<div class="item"><img src="{{Tag 16}}" alt=""></div>
	<div class="item"><img src="{{Tag 17}}" alt=""></div>
	<div class="item"><img src="{{Tag 18}}" alt=""></div>
	<div class="item"><img src="{{Tag 19}}" alt=""></div>
</template> -->

<!-- FOR TESTING BACKEND ONLY! -->
<template name="currentTag">
	<ul class="thumbnails">
		<li class="span3"><img src="{{Tag 0}}"></li>
		<li class="span3"><img src="{{Tag 1}}"></li>
		<li class="span3"><img src="{{Tag 2}}"></li>
		<li class="span3"><img src="{{Tag 3}}"></li>
	</ul>
	<ul class="thumbnails">
		<li class="span3"><img src="{{Tag 4}}"></li>
		<li class="span3"><img src="{{Tag 5}}"></li>
		<li class="span3"><img src="{{Tag 6}}"></li>
		<li class="span3"><img src="{{Tag 7}}"></li>
	</ul>
	<ul class="thumbnails">
		<li class="span3"><img src="{{Tag 8}}"></li>
		<li class="span3"><img src="{{Tag 9}}"></li>
		<li class="span3"><img src="{{Tag 10}}"></li>
		<li class="span3"><img src="{{Tag 11}}"></li>
	</ul>
	<ul class="thumbnails">
		<li class="span3"><img src="{{Tag 12}}"></li>
		<li class="span3"><img src="{{Tag 13}}"></li>
		<li class="span3"><img src="{{Tag 14}}"></li>
		<li class="span3"><img src="{{Tag 15}}"></li>
	</ul>
	<ul class="thumbnails">
		<li class="span3"><img src="{{Tag 16}}"></li>
		<li class="span3"><img src="{{Tag 17}}"></li>
		<li class="span3"><img src="{{Tag 18}}"></li>
		<li class="span3"><img src="{{Tag 19}}"></li>
	</ul>
	<ul class="thumbnails">
		<li class="span3"><img src="{{Tag 20}}"></li>
		<li class="span3"><img src="{{Tag 21}}"></li>
		<li class="span3"><img src="{{Tag 22}}"></li>
		<li class="span3"><img src="{{Tag 23}}"></li>
	</ul>
	<ul class="thumbnails">
		<li class="span3"><img src="{{Tag 24}}"></li>
		<li class="span3"><img src="{{Tag 25}}"></li>
		<li class="span3"><img src="{{Tag 26}}"></li>
		<li class="span3"><img src="{{Tag 27}}"></li>
	</ul>
	<ul class="thumbnails">
		<li class="span3"><img src="{{Tag 28}}"></li>
		<li class="span3"><img src="{{Tag 29}}"></li>
		<li class="span3"><img src="{{Tag 30}}"></li>
		<li class="span3"><img src="{{Tag 31}}"></li>
	</ul>
	<ul class="thumbnails">
		<li class="span3"><img src="{{Tag 32}}"></li>
		<li class="span3"><img src="{{Tag 33}}"></li>
		<li class="span3"><img src="{{Tag 34}}"></li>
		<li class="span3"><img src="{{Tag 35}}"></li>
	</ul>
	<ul class="thumbnails">
		<li class="span3"><img src="{{Tag 36}}"></li>
		<li class="span3"><img src="{{Tag 37}}"></li>
		<li class="span3"><img src="{{Tag 38}}"></li>
		<li class="span3"><img src="{{Tag 39}}"></li>
	</ul>
	<ul class="thumbnails">
		<li class="span3"><img src="{{Tag 40}}"></li>
		<li class="span3"><img src="{{Tag 41}}"></li>
		<li class="span3"><img src="{{Tag 42}}"></li>
		<li class="span3"><img src="{{Tag 43}}"></li>
	</ul>
	<ul class="thumbnails">
		<li class="span3"><img src="{{Tag 44}}"></li>
		<li class="span3"><img src="{{Tag 45}}"></li>
		<li class="span3"><img src="{{Tag 46}}"></li>
		<li class="span3"><img src="{{Tag 47}}"></li>
	</ul>
	<ul class="thumbnails">
		<li class="span3"><img src="{{Tag 48}}"></li>
		<li class="span3"><img src="{{Tag 49}}"></li>
		<li class="span3"><img src="{{Tag 50}}"></li>
		<li class="span3"><img src="{{Tag 51}}"></li>
	</ul>
</template>
<!-- FOR TESTING BACKEND ONLY! -->